<div>Siandienos data: <%=@this_time%></div>
<h1><%=@title%></h1>
<button class="w3-button w3-red w3-border w3-border-red w3-round-large" onclick="location.href='<%=@link%>%'">
VIKO Elektronikos ir informatikos fakultetas
</button>
